@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jua&family=Kdam+Thmor+Pro&family=Poppins:wght@200&family=Russo+One&display=swap');
#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background-color: rgb(196, 194, 194);
    font-family: 'Poppins', sans-serif;

}
*{
    border-radius: 6px;
}
#main-content{
    background-color: rgb(255, 255, 255);
    width: 1470px;
    height: 310px;
    margin: 10px;
    padding: 10px;

}

#ticktick{
    position: absolute;
    background-color: bisque;
    left: 30px;
    top: 120px;
    height: 210px;
    width: 390px;
    align-items: center;
}

#weather{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 90px;
    left: 420px;
    top: 20px;
    font-size: 10px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(143, 139, 250), rgb(255, 126, 229), rgb(248, 120, 111));
}


#calendar{
    position: absolute;
    background-color: rgb(241, 192, 240);
    width: 350px;
    top: 120px;
    height: 210px;
    left: 920px;
}

#playingnext{
    position: absolute;
    background-color: rgb(194, 255, 205);
    left: 1277px;
    top: 120px;
    height: 210px;
    width: 224px;
}

#location{
    position: fixed;
    left: 425px;
    top: 10px;
}

#temp{
    position: fixed;
    top: 30px;
    left: 425px;
}

#feels-like{
    position: fixed;
    top: 50px;
    left: 425px;
}

#icon{
    position: absolute;
    left: 300px;
    top: -5px;
}

#description{
    position: fixed;
    left: 425px;
    text-transform: capitalize;
    top: 70px;
}
