@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jua&family=Kdam+Thmor+Pro&family=Poppins:wght@200&family=Russo+One&display=swap');
#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background-color: rgb(196, 194, 194);
    font-family: 'Kdam Thmor Pro', sans-serif;

}
*{
    border-radius: 6px;
}
#main-content{
    background-color: rgb(255, 255, 255);
    width: 1470px;
    height: 310px;
    margin: 10px;
    padding: 10px;

}

#ticktick{
    position: absolute;
    background-color: bisque;
    left: 420px;
    top: 120px;
    height: 210px;
    width: 493px;
    align-items: center;
}

#weather{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 385px;
    height: 235px;
    top: 40px;
    
}


#calendar{
    position: absolute;
    background-color: rgb(241, 192, 240);
    width: 350px;
    top: 120px;
    height: 210px;
    left: 920px;
}

#playingnext{
    position: absolute;
    background-color: rgb(194, 255, 205);
    left: 1277px;
    top: 120px;
    height: 210px;
    width: 224px;
}

#location{
    position: absolute;
}

#temp{
    position: absolute;
    top: 40px;
}

#feels-like{
    position: absolute;
    top: 80px;
}

#icon{
    position: absolute;
    left: 100px;
    top: 50px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

#description{
    position: absolute;
    top: 110px;
}
